body{
  height: 100vh;
  background-color: rgb(0, 153, 255) ;
  display: flex;
  align-items: center;
  flex-direction: column;

}



h1{
    margin-bottom: 20px;
    font-family:fantasy;
    color: rgb(43, 255, 0);
    text-align: center;
    text-shadow: 20px 20px 40px rgb(219, 9, 9);
}

h2{
  font-family:fantasy;
  margin-bottom: 20px;
  display: flex;
  justify-content: center; 
  align-items: center;   
  color: chartreuse;  
}




.goa-goa {
  font-family:fantasy;
  margin-bottom: 20px;
  display: flex;
  justify-content: center; 
  align-items: center;     
}

.go-go{
  font-family:fantasy;
  margin-bottom: 20px;
  display: flex;
  justify-content: center; 
  align-items: center;
  
}




.g-g{
  font-family:fantasy;
  margin-bottom: 20px;
  display: flex;
  justify-content: center; 
  align-items: center;

}



button{
    border: 200px;
    border-radius: 40px;
    font-family:fantasy;
    font-size: 40px;
    width:180px;
    height: 90px;
    background-color: rgb(153, 255, 0);
}

main{
  border: 50px;
  border-radius: 50000px;
  border: 30px solid rgb(255, 242, 144);
  padding: 70px;
}
