body {
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  flex-direction: column;

}



h1 {
  margin-bottom: 20px;
  font-family: fantasy;
  color: rgb(29, 139, 7);
  text-align: center;
  text-shadow: 20px 20px 40px rgb(219, 9, 9);
}

h2 {
  font-family: fantasy;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(68, 125, 11);
}




.goa-goa {
  font-family: fantasy;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.go-go {
  font-family: fantasy;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}




.g-g {
  font-family: fantasy;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}



button {
  border: 200px;
  border-radius: 40px;
  font-family: fantasy;
  font-size: 40px;
  width: 180px;
  height: 90px;
  background-color: rgb(11, 152, 16);
  box-shadow: 0 8px 16px 0 rgb(3, 131, 12);
  letter-spacing: 5px;
  transition: 1.4s;
  transition-timing-function: cubic-bezier(1, 3, 4, 1);
  transition-property: width, border-radius;

}

button:hover {
  background-color: rgb(0, 51, 255);
  transition: background-color 2s ease-out;
  width: 290px;
  height: 140;
  border-radius: 145px;

}




button::after {
  background-color: rgb(11, 145, 16);
  transition: background-color 2s ease-in;

}

main {
  border: 50px;
  border-radius: 50000px;
  border: 30px solid rgb(23, 102, 4);
  padding: 70px;
}