h1{
    text-align: center;
    width: 15px;
    height: 10px;
    color: #00fd00 ;
    
}






body{
    background: #000000;
    color: #ffffff;

}

.progress-bar{
    width: 450px;
    height: 24px;
    border-radius: 20px;
    border: 2px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

}

.progress-bar::after{
    content: '';
    background: linear-gradient(135deg, #00fd00, #ff00f2, rgb(102, 255, 204));
    width: 0;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    animation: progress 5s linear forwards;

}
@keyframes progress {
    100%{
        width: 90%;
    }
} 
