body{
    background-image: url(https://yt3.googleusercontent.com/yaO29uydEx0PfxuToT7uh_fP1cZGw-mcNrNZcCKTjDBTNvzn_5_gclYVAhBn5XFa-JgMKm6WwUY=s900-c-k-c0x00ffffff-no-rj);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    margin-bottom: 20px;
    color: rgb(0, 255, 38);
    width: 350px;
    height: 350px;
}

button{
    border: 200px;
    border-radius: 40px;
    font-family:fantasy;
    font-size: 40px;
    width:180px;
    height: 90px;
    background-color: rgb(153, 255, 0);
}

