body {
    background-image: url(https://yt3.googleusercontent.com/yaO29uydEx0PfxuToT7uh_fP1cZGw-mcNrNZcCKTjDBTNvzn_5_gclYVAhBn5XFa-JgMKm6WwUY=s900-c-k-c0x00ffffff-no-rj);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    margin-bottom: 20px;
    color: rgb(0, 255, 38);
    width: 350px;
    height: 350px;

}

button {
    margin: 20px;
    border: 200px;
    border-radius: 40px;
    font-family: fantasy;
    font-size: 40px;
    width: 180px;
    height: 90px;
    background-color: rgb(153, 255, 0);
    box-shadow: 0 8px 16px 0 rgb(3, 131, 12);
    letter-spacing: 5px;
    transition: 1.4s;
    transition-timing-function: cubic-bezier(1, 3, 4, 1);
    transition-property: width, border-radius;

}

button:hover {
    background-color: rgb(0, 51, 255);
    transition: background-color 2s ease-out;
    width: 290px;
    height: 140;
    border-radius: 145px;

}