.best{
    height: 50vh;
}

h1{
    color: rgb(0, 255, 0);
}

button{
    margin: 20px;
    border: 200px;
    border-radius: 40px;
    font-family:fantasy;
    font-size: 40px;
    width:180px;
    height: 90px;
    background-color: rgb(153, 255, 0);
}

